body{
  background-color: #ddd;
}

.container{
  margin: auto;
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 0px;
  position: relative;
}

.marco-banner .active{
  color: white;
}
ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.slider1, ul.slider2, ul.slider3{
  position: relative;
  width: 100%;
  height: 100%;
}

.slider1 li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background:#fff;
}

.slider2 li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background:#fff;
}
.slider3 li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background:#fff;
}

ul.slider1 li img, ul.slider2 li img, ul.slider3 li img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul.slider1 li:first-child, ul.slider2 li:first-child, ul.slider3 li:first-child {
    opacity: 1; /*Mostramos el primer <li>*/
}

/*
.slider1 li:target {
    opacity: 1;
}

.slider2 li:target{
    opacity: 1;
}

.slider3 li:target {
    opacity: 1;
}
*/

.menu{
  position: absolute;
  text-align: center;
  margin: 20px;
  width: 100%;
  top:95%;
  margin: 0px
}

.menu li{
  display: inline-block;
  text-align: center;

}

.menu li a{
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
}

.etiqueta{
  border-radius: 15px;
  background-color: white;
  opacity: 0.8;
  position: relative;
  top: -20%;
  z-index: 999;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}

.etiqueta label{
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
}

.menu-pagina .menu-celular{
    display:none;
}

@media (max-width:750px){
  /* menu  */
  .menu-pagina{
    border-radius: 0px;
    transform: translate(0px, 0px);
    position: relative;
  }
  .menu-pagina .menu-web, .footer .footer-web{
      display:none;
  }
  .menu-pagina .menu-celular{
    display:block !important;
  }
  .menu-pagina .menu-celular .izq{
      width: 80%;
  }
  .menu-pagina .menu-celular .der{
      width: 20%;
      display: flex;
      align-items: center;
  }
  
  .menu-pagina .menu-vertical{
    width: 55%;
    position: absolute;
    top: 80px;
    left: 45%;
  }
  .menu-pagina .ul-vertical{
      display:block;
  }
  .menu-pagina .ul-vertical li{
    padding: 10px;
    background: black;
    color: white;
  }
  .visible{
      display:block !important;
  }
  
  .testimonios-marco .der .video iframe {
    height: 300px  !important;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .testimonios-marco, .cambios-marco {
    height: 100% !important;
  }
  
  .menu-celular h3, .menu-celular svg{
      color:white;
      font-size: 30px;
  }
  .menu-celular .menu-button{
      border: none;
      background: black;
  }
  .menu-celular img {
    height: 50px !important;
    margin-left: 10px !important;
  }
  
  .indicaciones-marco{
      margin:20px;
      height:100% !important;
  }
  .indicaciones-marco ul li{
      list-style: disc;
      margin-left:20px;
  }
  .indicaciones-botones div{
      width:50%
  }
  .indicaciones-botones a{
      padding:20px;
      padding-top:5px;
      padding-bottom:5px;
  }
  
  
  
  
  .clinica-marco{
    height:100% !important;
  }
  .clinica-marco .foto-clinica{
      text-align:center;
  }
  .clinica-marco .img{
      width:50% !important;
      margin-left: -50px;
  }
  
  
  
  .medico-marco{
      padding:20px;
  }
  .medico-marco, .cambios-marco{
      height:100% !important;
  }
  
  .medico-marco .perfil{
      padding:10px;
  }
  .medico-marco .medico-card{
      margin-bottom:30px;
  }
  
  .medico-marco .perfil .col-md-2{
      width:30%;
  }
  .medico-marco .perfil .col-md-10{
      width:70%;
  }
  
  .medico-marco .perfil .col-md-10 h4{
      padding-top: 15px;
      font-weight: 900;
  }
  
  
  
  .cambios-marco .antes{
      width:50%;
      margin-bottom:75px !important;
  }
  
  .cambios-marco .boton-siguiente-oculto{
      display:block !important;
      text-align: left !important;
  }
  .cambios-marco .boton-siguiente{
      display:none;
  }
  
  .etiqueta{
      top: -130px !important;
      width: 90%;
      margin-left: 5%;
  }
  .etiqueta label{
      padding: 5px;
      font-weight:900
  }
  .marco-banner{
      height:100%;
  }
  .marco-banner .container{
      min-height: 500px;
  }
  .marco-banner .menu{
      top:90% !important;
  }
  .clinica-marco svg, .marco-banner .menu svg{
    font-size: 20px !important;
    padding: 10px;
  }
  
  
  
  .testimonios-marco .der .video{
    width:100%;
  }
  
  
  
  .footer .footer-celular{
      display:flex !important;
  }
}


@media (min-width:1368px) {
  .medico-marco h5{
    font-size: 35px;
  }
  .medico-marco p{
    font-size: 14px !important;
  }

  .medico-marco .medico-card h5{
    font-size: 18px !important;
  }

  .medico-marco .bio{
    height: 400px !important;
  }



  .testimonios-marco p, .cambios-marco .antes h4{
    font-size: 18px !important;
  }

  
  .testimonios-marco h4{
    font-size: 30px !important;
    font-weight: 900;
  }


  .cambios-marco .antes p{
    font-size: 12px !important;
  }

  .cambios-marco .accordion-boton, .cambios-marco .accordion-button{
    font-size: 18px !important;
  }

  .cambios-marco .accordion-button{
    padding: 20px !important;
  }
  
  .cambios-marco .accordion-boton:hover{
      cursor:pointer;
      background:#eee;
  }

}

.medico-marco, .indicaciones-marco, .clinica-marco{
  height: 92vh;
}

.medico-marco{
  display: flex;
  align-items: center;
}
.medico-marco .bio{
  font-size: 10px;
  overflow-y: scroll;
  height: 300px;
}


.medico-encabezado h3, .medico-encabezado h4, .medico-card  h5, .medico-card  h6, .medico-card a{
  font-weight: bold;
}

.medico-encabezado p{
  text-align: center;
}

.medico-card{
  border-radius: 10px;
  background-color: white;
  padding: 10px;
}

.medico-card  img{
  border-radius: 10px;
  width: 100%;
}

.medico-card a{
  font-size: 12px;
}

.medico-card h5{
  font-size: 16px;
  font-weight: bold;
  text-align: justify;
}
.medico-card h6{
  font-size: 13px;
  text-align: justify;
}
.medico-card p{
  font-size: 10px;
  text-align: justify;
}

.medico-encabezado h5{
  font-weight: bold;
}
.medico-encabezado p{
  font-size: 12px;
}

.perfil img{
  width: 80px;
  border-radius: 100%;
}

.perfil h3{
  font-weight: bold;
}

.perfil p{
  font-size: 12px;
  text-align: justify;
}

.perfil .col-md-6{
  display: flex;
  align-items: center;
}

.perfil iframe{
  width: 100%;
}



/* indicaciones */

.indicaciones-marco .row{
  height: 100%;
  display: flex;
  align-items: center;
}
.indicaciones-marco .marco-img{
  text-align: center;
}
.indicaciones-marco .marco-img img{
  border-radius: 20px;
  width: 100%;
}
.indicaciones-marco h3{
  font-weight: bold;
}
.indicaciones-marco p.mt-3{
  font-size: 12px;
}

.indicaciones-marco a{
  font-size: 12px;
  border-radius: 20px;
  padding: 15px;
  
  font-weight: 900;
}
.indicaciones-marco ul, .indicaciones-marco li{
  list-style: disc !important;
  margin-left:20px;
  list-style:disk;
}


/* clinica */
.clinica-marco .row{
  height: 100%;
  display: flex;
  align-items: center;
}

.clinica-marco h1, h2, h3, h6, i{
  font-weight: bold;
}

.clinica-marco .en-linea{
  display: flex;
}

.clinica-marco svg{
  font-size: 20px;
}

.clinica-marco .mapa{
    height: 300px;
    background: #eee;
    border-radius: 20px;
    padding: 5px !important;
}

.clinica-marco .mapa div{
  margin: 10px;
  background: white;
  height: 270px;
  border-radius: 10px;
}

.clinica-marco .img{
  /* max-height: 500px; */
  width: 80%;
}


/*    testimonios  */

.testimonios-marco .izq, .testimonios-marco .der{
  display: flex;
  align-items: center;
}

.testimonios-marco .der{
  background-color: #E5B90D;
}
.testimonios-marco .der .video iframe{
  height:400px;
}


.testimonios-marco .row{
  height: 100%;
}

.testimonios-marco h3, .testimonios-marco h4{
  font-weight: bold;
}

.testimonios-marco .botonera{
  border-radius: 10px;
  background-color: #FFFFFF65;
  padding: 5px;
  display: inline-block;
}

.testimonios-marco .botonera .btn-izquierda{
  border-radius: 5px;
  background-color: white;
  color: #E5B90D;
}

.testimonios-marco .botonera .btn-derecha{
  border-radius: 5px;
  background-color: #E5B90D;
  color: white;
}

.testimonios-marco p{
  font-size: 10px;
  text-align: justify;
}

.testimonios-marco .calificacion-usuario{
  display:inline-flex
}

.testimonios-marco .calificacion-usuario img{
  width: 80px;
  border-radius: 100%;
}

.testimonios-marco .fa-star{
  font-size: 12px;
}

.amarillo{
  color: #E5B90D;
}
.gris{
  color: #adadad;
}

.testimonios-marco .der iframe{
  width: 100%;
}



/*  cambios  */
.cambios-marco .row, .cambios-marco .antes .row{
  height: 100%;
  display: flex;
  align-items: center;
}

.cambios-menu{
  /*height: 60%;*/
}

.cambios-marco .antes img{
  width: 100%;
  border-radius: 10px;
}

.cambios-marco .antes H4{
  font-weight: bold;
  font-size: 16px;
}

.cambios-marco .antes p{
  font-size: 12px;
  text-align: justify;
}
.cambios-marco svg{
  font-size: 30px;
  color: #E5B90D;
}
.cambios-marco .accordion-button{
  background-color: #E5B90D;
  color: black;
  font-size: 12px;
  font-weight: 900;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
}

.cambios-marco .accordion-body{
  background-color: #ddd;
  padding: 2px;
}

.cambios-marco .accordion-boton{
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 5px;
  text-align: center;
  width: auto;
}

.cambios-marco .antes{
  margin-top: 30px;
}
.cambios-marco .antes p{
  font-size: 10px;
}
.cambio-seleccionado{
    background-color: #3b86fb !important;
    font-weight: bold;
}